[url "ssh://git@stash.corp.netflix.com:7999"]
	insteadOf = https://stash.corp.netflix.com/scm
[user]
	email = jleder@netflix.com
	name = Josh Leder
[merge]
	tool = meld
[alias]
    recent=for-each-ref --sort=-committerdate --format='%(color:green bold)%(HEAD)%(color:reset) %(align:width=16)%(color:bold)%(refname:short)%(color:reset)%(end) %(color:magenta)%(committerdate:local)%(color:reset) %(subject)' refs/heads/
